// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//ベース背景
$base-bgc: #fff3e8;
//ベース文字色
$base-font-color: #685647;
//セクションタイトル文字色
$section-title-color: #a68a72;
//フッター背景
$footer-bgc: #594838;
//ボタン背景色
$btn-bgc: #a68a72;
//ボタン文字色
$btn-font-color: #ffffff;
