// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//購入画面


.buy-title {
  display: flex;
  width: 300px;
  background-color: $dullpink;
  border-radius: 1rem;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center; 
  justify-content: center;
  h5{
    margin: 0px;
  }
}
.row {
  .btn-row {
    .buy-confirm {
      margin: 0 auto;
      text-align: center;
    }
  }
}


.progressbar {
  position: relative;
  width: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.progressbar li {
  position: relative;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 33.333%;
  color: $palegray;
  font-weight: bold;
}
.progressbar li:before {
  display: block;
  width: 18px;
  height: 18px;
  margin: 7px auto 20px auto;
  content: '';
  text-align: center;
  border-radius: 50%;
  background-color: $palegray;
}
.progressbar li:after {
  position: absolute;
  z-index: 0;
  top: 15px;
  left: -46.5%;
  width: 93%;
  height: 2px;
  content: '';
  background-color: $palegray;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active,
.progressbar li.complete{
  color: map-get($theme-colors, a68a72);
}
.progressbar li.active:before,
.progressbar li.complete:before {
  background-color: $dullpink;
}
.progressbar li.active:after,
.progressbar li.complete:after {
  background-color: $dullpink;
}
