// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


.border-left {
  border-left-width: 5px !important;
  border-color: map-get($theme-colors, d73d3d) !important;
}

.js-scroll{
  color: map-get($theme-colors, d73d3d) !important;
  &:link, &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none !important;
  }
}

.table td, tr, th, thead, tbody{
  border: 1px solid map-get($theme-colors, e4d3c4) !important;
}

.fa-chevron-circle-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: map-get($theme-colors, a68a72);
}

//サイドバーナビゲーション
#sidebarMenu {
  background-color: white;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  li{
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);

    &:active, &:focus, &:hover {
      background-color: map-get($theme-colors, a68a72);
      transition: all  0.3s ease-in;
      
      a {
        color: white;
      }
    }
  }
  .active {
    background-color: map-get($theme-colors, a68a72);
    color: white;
  }
  
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: map-get($theme-colors, e4d3c4);
}
.sidebarMenuInner li a{
    color: map-get($theme-colors, 685647);
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

//特定商取引画面
.guideline {
  margin: 0;
}
.title {
  font-weight: bold;
  margin-bottom: 5px;
}
.content {
  margin-bottom: 40px;
  border-bottom: 1px solid map-get($theme-colors, e4d3c4);
}
