// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


* {
  list-style: none;


  background-color: $base-bgc;
  color: $base-font-color;

  footer {
    background-color:$footer-bgc;
  }

  .btn {
    background-color: $btn-bgc;
    color: $btn-font-color;
  }
}

//mypage

a:link, a:visited, a:hover, a:active {
  color: $base-font-color;
}

.product-list {
  margin: 0 20px;

  img {
    width: 200px;
    height: 200px;
  }
}