// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

* {
  list-style: none;
  color: $base-font-color;
  box-sizing: content-box;
  footer {
    background-color:$footer-bgc;
  }
}

main {
  background-color: $base-bgc;
  .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    .row {
      margin: 0 auto;
    }
  }
  .block {
    background-color: white;
    padding: 10px;
    border-radius: 1.5rem;
    margin-bottom: 20px;
  }
  a:link, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.mypage-left {
  //border-right: 2px solid white;
  .nav-container {
    padding-top: 15px;
    max-width: 180px;
  }
}

.mypage-right {
  //product
  .col {
    .mypage-title {
      background-color: rgb(247, 189, 199);
      border-radius: 1rem;
      width: 100%;
      max-width: 300px;
      height: 50px;
      margin: 0 auto;
      margin-bottom: 20px;
      vertical-align: middle;
      p {
        font-size: 18px;
        font-weight: normal;
        line-height: 50px;
      }
    }
    .mypage-section {
      padding: 10px;
      margin: 0px;
      text-align: center;
      
  
    }
    .product-lists {
      padding: 15px 10px;
      .product-list {
        display: flex;
        width: 100%;
        //margin: 0 20px;
        img {
          width: 100%;
          max-width: 100%;
          height:  auto;
        }
        p {
          margin: 0px;
        }
      }
    }
  }
  //edit
  .btn-row{
    text-align: center;
    .btn {
      background-color: $btn-bgc;
      color: $btn-font-color;
      margin: 20px;
    }
  }
}