@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  list-style: none;
  color: #685647;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

* footer {
  background-color: #594838;
}

main {
  background-color: white;
}

main .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

main .container-fluid .row {
  margin: 0 auto;
}

main .container-fluid input:-moz-read-only {
  background-color: white;
}

main .container-fluid input:read-only {
  background-color: white;
}

main .container-fluid input:focus {
  border: 1px solid #f7bdc7;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .block {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

main a:link, main a:visited, main a:hover, main a:active {
  color: inherit;
}

main .label {
  margin: 5px;
}

main .btn-row {
  text-align: center;
}

main .btn-row .btn {
  background-color: #a68a72;
  color: #ffffff;
}

.mypage-left .nav-container {
  margin: 0 auto;
  padding-top: 15px;
  max-width: 180px;
}

.mypage-right .col .mypage-title {
  background-color: #f7bdc7;
  border-radius: 1rem;
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  vertical-align: middle;
}

.mypage-right .col .mypage-title p {
  font-size: 18px;
  font-weight: normal;
  line-height: 50px;
}

.mypage-right .col .mypage-section {
  padding: 10px;
  margin: 0px;
  text-align: center;
}

.mypage-right .col .product-lists {
  padding: 15px 10px;
}

.mypage-right .col .product-lists .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mypage-right .col .product-lists .product-list img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.mypage-right .col .product-lists .product-list .card-body h5, .mypage-right .col .product-lists .product-list .card-body p {
  margin: 0px;
  word-wrap: break-word;
}

.mypage-right .col .product-lists .product-list .card-body .text {
  display: inline-block;
}

.buy-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7bdc7;
  border-radius: 1rem;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buy-title h5 {
  margin: 0px;
}

.row .btn-row .buy-confirm {
  margin: 0 auto;
  text-align: center;
}

.progressbar {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progressbar li {
  position: relative;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 33.333%;
  color: #c7c7c7;
  font-weight: bold;
}

.progressbar li:before {
  display: block;
  width: 18px;
  height: 18px;
  margin: 7px auto 20px auto;
  content: '';
  text-align: center;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.progressbar li:after {
  position: absolute;
  z-index: 0;
  top: 15px;
  left: -46.5%;
  width: 97%;
  height: 2px;
  content: '';
  background-color: #c7c7c7;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active,
.progressbar li.complete {
  color: #a68a72;
}

.progressbar li.active:before,
.progressbar li.complete:before {
  background-color: #f7bdc7;
}

.progressbar li.active:after,
.progressbar li.complete:after {
  background-color: #f7bdc7;
}

.privacy-text {
  margin: 0 auto;
  max-width: 70%;
}

#carousel-card {
  position: abusolute;
}

#carousel-card .carousel-indicators {
  position: lerative;
  bottom: -35px;
}

.carousel-indicators li {
  background-color: #a68a72 !important;
}

.carousel-indicators .active {
  background-color: #a68a72 !important;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #a68a72;
  width: 30px !important;
  height: 100%;
  padding: 0px;
  border-radius: 0.3rem;
}
/*# sourceMappingURL=style.css.map */
.shopping-cart {
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #fff3e8;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #000000;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
    padding-left: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left;
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px;
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center;
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center;
	}
}
